.navbar {
  background-color: #70000C;
  color: white;
}

.nav-item {
   font-weight: bold;
}

.d-block {
  opacity: 0.80;
}

.lead {
  color: #000000;
  font-weight: bold;
  margin-top: 50px;
}

.fundoEscuro {
  background-color: #B5B5B5;
  margin: 0px;
}

.fundoClaro {
  background-color: #F2F2F2;
  margin: 0px;
}

.imgNossasArtes{
  border-radius: 50%;
}

.pointer{
  cursor: pointer
}

.iconSocialMedia ul>li  {
    display: inline-block;
    padding: 0px;
    margin-left: 10px;
}

.iconSocialMedia {
  display: flex;
  justify-content: center;
}

.contactsGoogleMaps {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 20px;
}

.footer {
  background-color: #70000C;
  font-weight: bold;
  text-align: center;
  color:#F2F2F2
}

#navbarNav {
  float: left
}

#carouselTitle {
  margin-top: 150px;
  position: absolute;
  font-weight: bold;
  color: #70000C;
  text-shadow: 0 0 2px #000000;
  text-align: center;
  z-index: 20;
}

#icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color:#70000C;
  size: 1000px;
}

#iconSocialMedia {
  display: flex;
  justify-content: center;
  
}

ul {
  padding: 0px;
  list-style-type: none;
}

h2{
  color:#70000C;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .d-block {
    height: 300px;
  }

  .imgNossasArtes{
    width: 80px;
  }

  #quemSomos {
    height: 300px;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {

  .d-block {
     height: 800px;
  }

}